### Analysis methods

In [1]:
import pandas as pd

In [4]:
df_argument = pd.read_csv('../data/vehicles.csv')
print(df_argument.head(3))

         Make                Model  Year  Engine Displacement  Cylinders  \
0  AM General    DJ Po Vehicle 2WD  1984                  2.5        4.0
1  AM General     FJ8c Post Office  1984                  4.2        6.0
2  AM General  Post Office DJ5 2WD  1985                  2.5        4.0

      Transmission        Drivetrain                Vehicle Class Fuel Type  \
0  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD   Regular
1  Automatic 3-spd     2-Wheel Drive  Special Purpose Vehicle 2WD   Regular
2  Automatic 3-spd  Rear-Wheel Drive  Special Purpose Vehicle 2WD   Regular

   Fuel Barrels/Year  City MPG  Highway MPG  Combined MPG  \
0          19.388824        18           17            17
1          25.354615        13           13            13
2          20.600625        16           17            16

   CO2 Emission Grams/Mile  Fuel Cost/Year
0               522.764706            1950
1               683.615385            2550
2               555.437500            2100

In [5]:
df_argument.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [6]:
df_analyzed = df_argument.groupby(by="Make")["Combined MPG"].mean()
df_analyzed

Make
AM General                     14.750000
ASC Incorporated               16.000000
Acura                          21.506623
Alfa Romeo                     19.512195
American Motors Corporation    17.681818
                                 ...
Volkswagen                     24.093601
Volvo                          20.605300
Wallace Environmental          13.875000
Yugo                           25.000000
smart                          35.800000
Name: Combined MPG, Length: 127, dtype: float64

In [7]:
type(df_analyzed)

pandas.core.series.Series

In [8]:
df_analyzed.to_csv("../data/result.csv")

In [10]:
df_result = pd.read_csv('../data/result.csv', index_col = "Make")
df_result

                             Combined MPG
Make
AM General                      14.750000
ASC Incorporated                16.000000
Acura                           21.506623
Alfa Romeo                      19.512195
American Motors Corporation     17.681818
...                                   ...
Volkswagen                      24.093601
Volvo                           20.605300
Wallace Environmental           13.875000
Yugo                            25.000000
smart                           35.800000

[127 rows x 1 columns]

### Refactoring

In [11]:
#ejemplo 1 con el file con la opción de cambiar la ruta para guardar

def analysis(df, group, agg, file='../data/result.csv'):
    analyzed = df.groupby(by=group)[agg].mean()
    analyzed.to_csv(file)
    return analyzed

In [12]:
#ejemplo 2 guardado directamente en la función

def analysis(df, group, agg):
    analyzed = df.groupby(by=group)[agg].mean()
    analyzed.to_csv('../data/result.csv')
    return "----The result is in your folder----"